$Open-text: 'Open Sans', sans-serif;
$Nunito-text: 'Nunito', sans-serif;

// color-------

$primary-clr:#f7f8fa;
$secodary-clr:#222222;
$tertiary-clr:#ffffff;

// padding----------

$p_lr_inline:2.5rem;